*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text__color:white;
    --background__color: #222831;
    --header__color:black;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    background:  var(--background__color);
    color: var(--text__color);
}

header, footer{
    background: var(--header__color);
    color:var(--text__color);
    display: block;
}

header{
    height: 60px;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

nav > ul > li{
    width: 100%;
    height: 100%;
}

nav > ul > li > A{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    text-decoration: none;
    color: var(--text__color);
}

article{
    width: 70vw;
    margin: 0 auto;
    animation-name: up;
    animation-duration: 0.8s;
    padding-right: 300px;
}

h1{
    padding-top: 30px;
}

.logo{
    width:1000px;
    height: 500px;
}

p{
    padding-top:10px;
}

h2{
    padding-top: 40px;
}

.lang{
    height: 200px;
    margin-top: 20px;
}

.lang > img{
    object-fit: cover;
}

.alle_plaatjes{
    width: 200px ;   
    height: 200px;
    position: absolute;
    right: 15%;
}

.plaatje{
    width: 100%;   
    height: 100%;
    padding: 20px;
}

.rechts{
    object-fit: cover;
}

img {
    height: 100%;
    width: 100%;
    
}

.reviews{
    width: 70vw;
    height: 300px;
    animation-name: slider;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    margin-bottom: 40px;
}

footer{
    width: 100%;
    margin: 0 auto;
    height: 420px;
    display: flex ;
    justify-content: center;
    flex-direction: column;
}

footer > section{
    display: flex;
    justify-content: center;
    
}

footer > section > section{
    margin: 10px;
    
}

footer > H2{
    font-size: 250%;
    display: flex;
    justify-content: center;
}

footer > section > p{
    font-size: 100%;
}

.game {
    width: 70vw;
    border: 1px solid var(--text__color);
}


@keyframes up {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slider {
    /*review 1*/
    0%{
        opacity: 0;
        background-image: url(../foto/review-1.png);
    }
    12.5%{
        opacity: 1;
        background-image: url(../foto/review-1.png);
    }
    24%{
        opacity: 0;
        background-image: url(../foto/review-1.png);
    }
    /*review 2*/
    25%{
        opacity: 0;
        background-image: url(../foto/review-2.png);
        
    }
    37.5%{
        opacity: 1;
        background-image: url(../foto/review-2.png);
    }
    49%{
        opacity: 0;
        background-image: url(../foto/review-2.png);
    }
    /* review 3 */
    50%{
        opacity: 0;
        background-image: url(../foto/review-3.png);
    }
    67.5%{
        opacity: 1;
        background-image: url(../foto/review-3.png);
    }
    74%{
        opacity: 0;
        background-image: url(../foto/review-3.png);
    }
    /* review 4 */
    75%{
        opacity: 0;
        background-image: url(../foto/review-4.png);
    }
    87.5%{
        opacity: 1;
        background-image: url(../foto/review-4.png);
    }
    99%{
        opacity: 0;
        background-image: url(../foto/review-4.png);
    }
    /* loop review 1*/
    100%{
        opacity: 0;
        background-image: url(../foto/review-1.png);
    }

}