*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text__color:white;
    --background__color: #222831;
    --header__color:black;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    background:  var(--background__color);
    color: var(--text__color);
}

header, footer{
    background: var(--header__color);
    color:var(--text__color);
    display: block;
}

header{
    height: 60px;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

nav > ul > li{
    width: 100%;
    height: 100%;
}

nav > ul > li > A{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    text-decoration: none;
    color: var(--text__color);
}

article{
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
    animation-name: up;
    animation-duration: 0.8s;
}

.logo{
    width:1000px;
    height: 500px;
}

.plaatje{
    width: 200px ;   
}

.rechts{
    background-color: var(--text__color);
}

footer{
    height: 300px;
}

footer > H2{
    display: flex;
    justify-content: center;
    font-size: 250%;
}

footer > p{
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.game {
    width: 80vw;
    border: 1px solid var(--text__color);
}

@keyframes up {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}